body {
  margin: 0;
  padding: 0;
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(33, 41, 116);
  color: white;
  height: 13000px;

  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

canvas { 
  display: block;
  width: 100vw;
}


header {
  width: 100%;
  text-align: center;
  position: absolute;
  top :0;
  z-index: 1000;
  
}
header div {
  width 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
#tag_input {
  display: block;
  height: 30px;
  width: 30%;
  box-sizing: border-box;
  font-weight: bolder;
  color: cornflowerblue;
}
#submit_button {
  display: none;
}
#submit_button_label {
  box-sizing: border-box;
  padding: 5px;
  display: block;
  width: 50%;
  height: 30px;
  background-color: cornflowerblue;
  color: white;
}

#mainCont {
  width: 100%;
  z-index: 100;
  position: sticky;
  top :0;
}

#burger {
  position: fixed;
  display: block;
  top 0;
  right:0;
  width: 50px;
  height:50px;
  transition: 1.4s;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  z-index: 1001;
}
#burgericon {
  position: relative;
  box-sizing: border-box;
  width:50px;
  height:50px;
  /* background: linear-gradient(rgb(211, 211, 211), rgb(255, 213, 136)); */
  border: 2px solid rgb(0, 204, 255);
  border-radius: 8px;    
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
  align-items: center;
}
#burgericon2 {
  position: relative;
  top: -50px;
  box-sizing: border-box;
  width:50px;
  height:50px;
  /* background: linear-gradient(rgb(211, 211, 211), rgb(255, 213, 136)); */
  border: 2px solid rgb(0, 204, 255);
  border-radius: 8px;    
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
  align-items: center;
}
#line1, #line2, #line3, #line4, #line12, #line22, #line32, #line42 {
  content: '';
  width: 7px;
  height: 7px;
  background-color: rgb(0, 204, 255);
  position: relative;
  transition: 0.7s;
}
.toggleline1 {
  transform:translate(-8px, -8px) rotate(225deg) ; 
}
.toggleline2 {
  transform:translate( 8px,-8px) rotate(225deg);
}
.toggleline3 {
  transform:translate(-8px,8px) rotate(225deg); 
}
.toggleline4 {
  transform:translate( 8px, 8px) rotate(225deg);
}
.toggleline12 {
  transform:translate(-1px, -1px) rotate(225deg) ; 
}
.toggleline22 {
  transform:translate( 1px,-1px) rotate(225deg);
}
.toggleline32 {
  transform:translate(-1px,1px) rotate(225deg); 
}
.toggleline42 {
  transform:translate( 1px, 1px) rotate(225deg);
}


#menu {
  position: fixed;
  top: 50px;
  right:0;
  width: 30%;
  text-align: right;
  z-index: 10001;

}

#link1  {
  z-index: 10002;
}


/* #playerInfoCont {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#playerInfoCont > div {
  display: block;
  text-align: center;
  width: 50%;
}
#playerInfoCont .brawlersDiv {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.brawlersDiv h3 {
  display: block;
  width: 100%;
  text-align: center;
}
.brawlersDiv .brawlerDiv {
  width: 46%;
  margin:2%;
  height: 300 px;
  box-sizing: border-box;
  padding: 15px;
  text-align: center;
  background-color: rgb(7, 38, 104);
} */